.digit {
  display: inline-block;
  height: 10%;
  width: 10%;
  background-color: green;
  color: white;
  margin: 3%;
}
.operation {
  display: inline-block;
  height: 10%;
  width: 10%;
  background-color: red;
  color: white;
  margin: 3%;
}
#equals {
  display: inline-block;
  height: 10%;
  width: 10%;
  background-color: red;
  color: white;
  margin: 3%;
}
#point {
  display: inline-block;
  height: 10%;
  width: 10%;
  background-color: green;
  color: white;
  margin: 3%;
}
#toggle {
  display: inline-block;
  height: 10%;
  width: 10%;
  background-color: green;
  color: white;
  margin: 3%;
}
.clear {
  display: inline-block;
  height: 10%;
  width: 10%;
  background-color: blue;
  color: white;
  margin: 3%;
}
.display {
  display: block;
  height: 10%;
  width: 25%;
  background-color: black;
  color: white;
  margin: 3%;
}
.op {
  color:green;
}
